pandas>=2.1.0
numpy>=1.26.0
tqdm>=4.66.0
typer>=0.12.0
pydantic>=2.6.0
pydantic-settings>=2.2.1
python-dotenv>=1.0.1
bibtexparser>=1.4.1
sentence-transformers>=3.0.1
pyyaml>=6.0.1
beautifulsoup4>=4.12.2
lxml>=4.9.3
requests>=2.32.3
chromadb>=0.4.0